<head>
  {{ template "_internal/google_analytics_async.html" . }}
  <title>{{.Params.title}} - {{ $.Site.Title}}</title>
  <link rel='canonical' href='{{ .Permalink }}' />
  {{ partial "head/meta" .}}
  {{ partial "head/style" .}}
  {{ template "_internal/opengraph.html" . }}
  {{ template "_internal/schema.html" . }}

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
  <script>
  window.addEventListener("load", function(){
  window.cookieconsent.initialise({
    "palette": {
      "popup": {
        "background": "#efefef",
        "text": "#404040"
      },
      "button": {
        "background": "#8ec760",
        "text": "#ffffff"
      }
    },
    "position": "bottom-right"
  })});
  </script>
  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"9d7b2c9f4c0bebc73fcfe5d85","lid":"0c177e8e7d","uniqueMethods":true}) })</script>
</head>
