{{ partial "header" .}}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us3.list-manage.com","uuid":"9d7b2c9f4c0bebc73fcfe5d85","lid":"0c177e8e7d","uniqueMethods":true}) })</script>
<h1>{{ .Title | markdownify }}</h1>
{{ .Content | markdownify }}

{{ template "_internal/disqus.html" . }}

{{ partial "footer" .}}
