{{ define "main" }}
<!-- SECTION IMAGE FULLSCREEN -->
<section class="fullscreen background-image" style="background-image:url(images/parallax/19.jpg);">
  <div class="container">
    <div class="container-fullscreen">
      <div class="text-middle text-right">
        <h3 data-animate="fadeInDown" data-animate-delay="0">Hi, I am</h3>
        <h1 class="text-md" data-animate="fadeInDown" data-animate-delay="500">Asep Bagja Priandana</h1>
        <h4 data-animate="fadeInDown" data-animate-delay="1000">A tech entrepreneur and can be your on-demand CTO.</h4>
        <div class="scrolldown-animation" id="scroll-down">
          <a class="scroll-to" href="#easy-fast">
            <img src="/images/scrolldown-dark.png" alt="">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end: SECTION IMAGE FULLSCREEN -->
{{ end }}
