<!doctype html>
<html lang="en">
<head>
    {{ template "_internal/google_analytics.html" . }}

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700|Merriweather:300,700|Source+Code+Pro:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ "css/shop.css" | relURL }}">

    <title>ASPBGJ Shop</title>
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <div class="head-title text-center">
                    <h1><a href="/">{{ .Title }}</a></h1>
                    {{ .Content }}
                </div>
            </div>
        </div>

        <!-- Products -->
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://ih0.redbubble.net/image.782363961.6822/ra,fitted_scoop,x2000,dd2121:8219e99865,front-c,160,143,1000,1000-bg,f8f8f8.jpg" class="card-img-top" alt="JavaScript Is Not Java">
                    <div class="card-body">
                        <h5>JavaScript Is Not Java</h5>
                        <p class="card-text">
                            Some people think JavaScript is the same as Java. No, this is completely a different beast and they do not relate to Java island.
                        </p>
                        <a href="https://www.redbubble.com/people/bepitulaz/works/37916822-javascript-is-not-java?asc=u" class="btn btn-primary">Checkout in Bepitulaz Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://ih0.redbubble.net/image.781148175.0570/rco,womens_premium_t_shirt,womens,x1770,heather_grey,front-c,170,40,1000,1000-bg,f8f8f8.jpg" class="card-img-top" alt="Python Error">
                    <div class="card-body">
                        <h5>Python Error</h5>
                        <p class="card-text">
                            You are not a Python programmer when you never meet this message ever. Python is a programming language that forces the use of indentation in its code.
                        </p>
                        <a href="https://www.redbubble.com/people/bepitulaz/works/37890570-python-error?asc=u" class="btn btn-primary">Checkout in Bepitulaz Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://ih1.redbubble.net/image.780835114.3776/ra,unisex_tshirt,x2200,5e504c:7bf03840f4,front-c,267,146,1000,1000-bg,f8f8f8.jpg" class="card-img-top" alt="Sysadmin Proposal">
                    <div class="card-body">
                        <h5>Sysadmin Proposal</h5>
                        <p class="card-text">
                            Is your crush a Linux sysadmin? You can try to use this shirt when dating her/him and look at her/his reaction. Hope she/he notices you.
                        </p>
                        <a href="https://www.redbubble.com/people/bepitulaz/works/37883776-sysadmin-proposal?body_color=asphalt&p=t-shirt&rbs=&style=mens" class="btn btn-primary">Checkout in Bepitulaz Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://ih1.redbubble.net/image.779024243.5408/ssrco,mens_premium_t_shirt,mens,101010:01c5ca27c6,front,square_three_quarter,x1000-bg,f8f8f8.jpg" class="card-img-top" alt="Real Man Code In Production">
                    <div class="card-body">
                        <h5>Real Man Code In Production</h5>
                        <p class="card-text">
                            Some of us are a brave web programmer. Whatever your motivation is, you can celebrate and be proud of your bravery. Show it to the world!
                        </p>
                        <a href="https://www.redbubble.com/people/bepitulaz/works/37845408-real-man-code-in-production?p=mens-premium-t-shirt" class="btn btn-primary">Checkout in Bepitulaz Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://ih0.redbubble.net/image.779068174.6534/ra,fitted_scoop,x2000,fafafa:ca443f4786,front-c,160,143,1000,1000-bg,f8f8f8.jpg" class="card-img-top" alt="Let's Confuse Kids Nowadays">
                    <div class="card-body">
                        <h5>Let's Confuse Kids Nowadays</h5>
                        <p class="card-text">
                                Lisp was the best programming language ever. Today, Lisp is forgotten and losing its market share. Does the new generation of programmer know Lisp?
                        </p>
                        <a href="https://www.redbubble.com/people/bepitulaz/works/37846534-lets-confuse-kids-nowadays?p=womens-fitted-scoop" class="btn btn-primary">Checkout in Bepitulaz Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://ih1.redbubble.net/image.779068228.6534/ssrco,mens_premium_t_shirt,mens,101010:01c5ca27c6,front,square_three_quarter,x1000-bg,f8f8f8.jpg" class="card-img-top" alt="Let's Confuse Kids Nowadays">
                    <div class="card-body">
                        <h5>Let's Confuse Kids Nowadays</h5>
                        <p class="card-text">
                            Lisp was the best programming language ever. Today, Lisp is forgotten and losing its market share. Does the new generation of programmer know Lisp?
                        </p>
                        <a href="https://www.redbubble.com/people/bepitulaz/works/37846534-lets-confuse-kids-nowadays?p=mens-premium-t-shirt" class="btn btn-primary">Checkout in Bepitulaz Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://vangogh.teespring.com/v3/image/tKjLoh1mby9VDDB6ws1iVnA6nXs/480/560.jpg" class="card-img-top" alt="I'm A Smart Farmer">
                    <div class="card-body">
                        <h5>I'm A Smart Farmer</h5>
                        <p class="card-text">
                            You are the future generation of smart farmers! By buying this apparel series, you also contribute and support Tania open source project for better future of agriculture.
                        </p>
                        <a href="https://teespring.com/en-GB/ima-smart-farmer-shirt?tsmac=store&tsmic=usetania#pid=46&cid=2739&sid=front" class="btn btn-primary">Checkout in Tania Swag Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://vangogh.teespring.com/v3/image/Do0SlcIHI9Y0lwFpjPC014dDlo0/480/560.jpg" class="card-img-top" alt="Future Healthcare">
                    <div class="card-body">
                        <h5>Future Healthcare</h5>
                        <p class="card-text">
                            Cannabis is NOT A DRUG! It's a medication. It helps people with MS, depression, anxiety disorder, insomnia, diabetes and more serious illness. 
                        </p>
                        <a href="https://teespring.com/en-GB/future-healthcare-dark-shirt?tsmac=store&tsmic=usetania#pid=369&cid=6513&sid=front" class="btn btn-primary">Checkout in Tania Swag Store</a>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-3">
                <div class="card">
                    <img src="https://vangogh.teespring.com/v3/image/foejQxJSsTcnKSDfCx0vBdamo9A/480/560.jpg" class="card-img-top" alt="I Love You From My Head Tomatoes!">
                    <div class="card-body">
                        <h5>I Love You From My Head Tomatoes!</h5>
                        <p class="card-text">
                            Do you have a crush on someone but too shy to show it off? Tell it with this I Love You From My Head Tomatoes! series. Don't worry, they won't know it!
                        </p>
                        <a href="https://teespring.com/en-GB/ily-fmht-shirt?tsmac=store&tsmic=usetania#pid=46&cid=2739&sid=front" class="btn btn-primary">Checkout in Tania Swag Store</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>